@import '~assets/styles/utils';

.sending {
  margin-top: 50px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  @include animation('fade-in 1s');

  .sending__title {
    width: 740px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  .sending__message {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px
  }
}