.statustable {
  width: 100%;
  margin-top: 20px;
  height: 100px;
  thead {
    tr {

      border-radius: 5px;
      text-align: left;
      border-bottom: 1px solid #C4C4C4;
      border-radius: 5px;
      th {
        font-size: 16px;
        line-height: 25px;
        color: gray;
        padding-bottom: 10px;
      }
      th:nth-child(3) {
        text-align: right;
      }
    }
  }

  tbody {
    margin-top: 10px;
    tr {
      td {
        font-size: 16px;
        line-height: 25px;
        padding-top: 10px;
      }
      td:nth-child(1) {
        width: 20%;
      }
      td:nth-child(2) {
        width: 60%;
        text-overflow:ellipsis;
      }
      td:nth-child(3) {
        width: 20%;
        text-align: right;
      }
      .status--failure {
        color:#FF6666ed;
      }
      .status--success {
        color: #03A100;
      }
    }
  }
}