@font-face {
  font-family: "SF Pro Text";
  src: url(fonts/sf-pro-text-medium.ttf) format(typetrue);
}
body {
  font-family: "SF Pro Text", sans-serif;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothig: grayscale;
}