@import "~assets/styles/main";

.form {
  margin-top: 20px;
  width: 800px;
  height: 720px;
  background: $sending__background;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  display: flex;
  padding: 30px 30px 0 30px;
  flex-direction: column;

  .form__title {
    font-size: 30px;
    line-height: 40px;
    width: 693px;
    height: 40px;
  }
  .form__from,
  .form__for,
  .form__theme,
  .form__message {
    margin-top: 20px;
    width: 740px;

    label {
      font-size: 16px;
      line-height: 20px;
      height: 20px;
      color: rgba(0, 0, 0, 0.6);
    }
    .inputs {
      height: 40px;
      margin-top: 5px;
      
      input:focus {
        outline: none;
        transition: .5s;
      }

      .inputs__name,
      .inputs__email {
        width: 50%;
        height: 40px;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        padding: 5px 10px;
      }

      .inputs__name {
        border-right: none;
        border-radius: 5px 0 0 5px;
      }

      .inputs__email {
        border-radius: 0 5px 5px 0;
      }
    }
    .errMsg {
      width: 740px;
      display: flex;
      flex-direction: row;
      p {
        color: #FF6666;
      }
    }
  }
  .form__from,
  .form__for {
    .errMsg {
      p {
        width: 50%;
        padding: 5px 10px;
      }
    }
  }
  .form__theme,
  .form__message {
    input,
    textarea {
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .errMsg {
      p {
        width: 100%;
        padding: 5px 10px;
      }
    }
  }
  .form__theme {
    .inputs__theme {
      height: 40px;
      width: 100%;
    }
  }
  .form__message {
    .inputs__message {
      height: 140px;
      width: 100%;
      resize: none;
    }
    .inputs__message:focus {
      outline: none;
    }
  }
  .form__files {
    width: 740px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .form__files__item {
      width: 365px;
      height: 50px;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px 0;
      display: flex;
      flex-direction: row;

      .form__files__item__img {
        width: 32.24px;
        height: 29.41px;
        margin-left: 10.87px;

      }
      .form__files__item__name {
        width: 198px;
        height: 30px;
        text-align: left;
        font-size: 16px;
        margin-left: 15.89px;
        padding-top: 7px;
        text-overflow:ellipsis;
      }
      .form__files__item__delete {
        margin-left: 11px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FF6666;
        cursor: pointer;
        &:hover {
          opacity: .7;
        }
        img {
          width: 13px;
          height: 16px;
          margin-right: 5px;
        }
      }
    }
  }
  .form__attachment {
    width: 250px;
    height: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .form__attachment__file {
      font-size: 16px;
      line-height: 20px;
      color: #0055FB;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
      input[type="file"] {
        display: none;
      }

      img {
        width: 16.12px;
        height: 14.71px;
        margin-right: 5.44px;
      }
    }
  }
}